<div class="jumbotron">
  <h1 class="display-4">Corporate Social Responsibility</h1>
  <p>
    This website lets you look up social responsibility of companies provided by other users based on evidences. Please start by looking for companies in the search box. Or click
	  <a href="#!/addCompany">here</a>
	  if you want to add a new review.
  </p>

  <p>
    <a class="btn btn-primary btn-lg" href="https://en.wikipedia.org/wiki/Corporate_social_responsibility" target='_blank' role="button">Learn more &raquo;</a>
  </p>
</div>
