/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.ratings-container {
  text-align: center;
}

.star-ratings-sprite {
  background: url(resources/images/star-rating-sprite.png) repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0 auto;
}

.star-ratings-sprite-rating {
  background: url(resources/images/star-rating-sprite.png) repeat-x;
  background-position: 0 100%;
  float: left;
  height: 21px;
  display: block;
}
.search-result-wrapper{
  width: 100%;
  margin-bottom: 2%;
}

.search-result{
  width: 90%;
  border: 2px solid black;
  padding: 20px
}

.search-result-link-wrapper {
  text-align: left;
}

.search-result-link{
  font-weight: bold;
  text-decoration: underline;
}

.search-result-row{
  margin: 0px;
}

.wikipedia-box{
    overflow: auto;
    width: 100%;
}
.company-result-wikipedia-column{
    margin-bottom: 1%;
}
table.infobox.vcard {
    width: 100%!important;
}
.view-container{
  margin-top: 2%;
}
.result-header{
  word-wrap: break-word;
}
.results-container{
  float:left;width:50%
}
.results-map{
  float:right;width:50%;height:500px
}
