<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="csrLookupApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="csrLookupApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="csrLookupApp" class="no-js lt-ie9"> <![endif]-->
<html lang="en" ng-app="csrLookupApp" class="no-js">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{mainTitle}}</title><!-- Why isn't this working? -->
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
    <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
    <link rel="stylesheet" href="app.css">
    <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>

  <body>
    <header class="navbar navbar-expand-md navbar-dark bg-dark" ng-controller="TestController">
      <a class="navbar-brand" href="#">{{mainTitle}}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#!/addCompany">Add Company</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#!/advancedSearch">Advanced Search</a>
          </li>
        </ul>

        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search for companies" aria-label="Search" ng-model="company_search_word">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
            ng-click="on_search_button_click()"
            ng-keyup="$event.keyCode == 13 ? on_search_button_click() : null">Search</button>
        </form>
      </div>
    </header>

    <div class="container-fluid">
      <div class="row">
        <main class="col-12 col-md-9 col-xl-8 py-3 pl-md-5">
          <div ng-view>
            <!-- All views are rendered here -->
          </div>
        </main>
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="libs/jquery-1.10.2.js"></script>
    <script src="libs//popper.min.js"></script>
    <script src="libs//bootstrap.min.js"></script>

    <!-- Angular -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>

    <script src="app.js"></script>
    <script src="indexController.js"></script>

    <!-- Views -->
    <script src="view/mainPage/mainPage.js"></script>
    <script src="view/addCompany/addCompany.js"></script>
    <script src="view/showCompany/showCompany.js"></script>
    <script src="view/advancedSearch/advancedSearch.js"></script>
    <script src="view/searchResults/searchResults.js"></script>

    <script src="components/version/version.js"></script>
    <script src="components/version/version-directive.js"></script>
    <script src="components/version/interpolate-filter.js"></script>
  </body>
</html>
