<div class="row">
  <div class="col-4">
    <h1>{{company.name}}</h1>
    <p id="industry_text">Industry: {{company.industry}}</p>
  </div>

  <div class='ratings-container col-2' ng-show=company.user_rated >
    <div class="star-ratings-sprite" ng-mousemove='rating_mousemove($event)' ng-mouseleave = 'rating_mouseleave($event)' ng-click = 'rating_click($event)'>
      <span style="width:{{company.rating / 5 * 100}}%" class="star-ratings-sprite-rating">
      </span>
    </div>
    {{company.rating | number:1}}
  </div>
  <div class='ratings-container col-2' ng-hide=company.user_rated >
    <div class="star-ratings-sprite" ng-mousemove='rating_mousemove($event)' ng-mouseleave = 'rating_mouseleave($event)' ng-click = 'rating_click($event)'>
      <span style="width:0%" class="star-ratings-sprite-rating">
      </span>
    </div>
    <span style="color:lightgray" title="Please rate the company first!">Rating hidden</span>
  </div>

  <div class='ratings-container col-2'>
    <strong>Responsibilty score:</strong>
    {{company.responsibility_score | number:1}}
  </div>
</div>

<div class="row">
  <div class="col-8">

    <h4>Evidence of Social Responsibility</h4>

    <div ng-repeat="evidence_record in evidence_records track by evidence_record.id">
      <div id="evidence-record-{{evidence_record.id}}" class="card bg-light mb-4">
        <div class="card-body">
          <h4 class="card-title">{{evidence_record.title}}</h4>
          <p class="card-text evidence-record-description">
            {{evidence_record.description}}
          </p>

          <p class="card-text evidence-record-reference">
            <strong>Reference:</strong>
            <a href="{{evidence_record.reference_url}}">{{evidence_record.reference_title}}</a>
          </p>

          <p class="card-text evidence-record-score">
            <strong>Score:</strong>
            {{evidence_record.score}}
          </p>
        </div>
      </div>
    </div>

    <p>
      <a id="add-evidence-link" href="#!/showCompany/{{company.id}}/addEvidenceRecord">Add new evidence</a>
    </p>

    <br>
    <br>

    <h4>Recent News</h4>

    <div class="card bg-light">
      <div class="card-body">
        <p class="card-text">
          <a href="https://news.google.com/news/search/section/q/{{company.name}}" target="_blank">{{company.name}} on Google News</a>
        </p>
      </div>
    </div>
  </div>

  <div class="col-4 company-result-wikipedia-column">
    <div class="card bg-light">
      <div class="card-body">
        <p class="card-text wikipedia-box" id="wikipediaBox">
          Loading Wikipedia box ...
        </p>
        <a id="wikipedia_link" href="https://en.wikipedia.org/wiki/{{company.wikipedia_name}}" target="_blank">
          {{company.name}}
        </a>
      </div>
    </div>
  </div>
</div>
