<div class="row">
  <div class="col-12 col-lg-8">
    <h1>Add a new company</h1>

    <form>
      <div class="form-group">
        <label for="companyName">What's the name of the company you want to add?</label>
        <input class="form-control" id="companyName" placeholder="Name">
      </div>

      <div class="form-group">
        <label for="companyWikipediaName">What is the title of the Wikipedia article about this company?</label>
        <input class="form-control" id="companyWikipediaName" placeholder="Wikipedia name">
      </div>

      <div class="form-group">
        <label for="companyIndustry">Which industry is this company a part of?</label>
        <input class="form-control" id="companyIndustry" placeholder="Industry">
      </div>

      <button type="submit" class="btn btn-primary">Add it!</button>
    </form>
  </div>
</div>
